BOT_PRIVATE_KEY=""
BOT_ACCESS_TOKEN=""
GROUP_CHAT_ID=""
DEV_GROUP_CHAT_ID=""
ETH_RPC_URL=""
BASE_RPC_URL=""
ARB_RPC_URL=""
KATANA_RPC_URL=""
POL_RPC_URL=""
UPTIME_KUMA_HOST=""
UPTIME_KUMA_KEY_ETHEREUM=""
UPTIME_KUMA_KEY_BASE=""
UPTIME_KUMA_KEY_ARBITRUM=""
UPTIME_KUMA_KEY_KATANA=""
UPTIME_KUMA_KEY_POLYGON=""
