x-common: &common
  build: .
  volumes:
    - .:/app
    - /app/.venv
  working_dir: /app
  env_file: .env
  restart: unless-stopped

services:
  eth-ydegen:
    <<: *common
    container_name: eth-ydegen
    command: >
      bash -lc "
        uv venv --clear &&
        . .venv/bin/activate &&
        uv sync &&
        silverback run --network :mainnet
      "

  base-ydegen:
    <<: *common
    container_name: base-ydegen
    command: >
      bash -lc "
        uv venv --clear &&
        . .venv/bin/activate &&
        uv sync &&
        silverback run --network base:mainnet
      "
  
  arb-ydegen:
    <<: *common
    container_name: arb-ydegen
    command: >
      bash -lc "
        uv venv --clear &&
        . .venv/bin/activate &&
        uv sync &&
        silverback run --network arbitrum:mainnet
      "
  
  katana-ydegen:
    <<: *common
    container_name: katana-ydegen
    command: >
      bash -lc "
        uv venv --clear &&
        . .venv/bin/activate &&
        uv sync &&
        silverback run --network ethereum:katana:node
      "